/* general styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* utilites */
.container {
    max-width: 75vw;
    margin: 0 auto;
}

.some-content {
    font-size: 1.2rem;
    color: #333333;
    margin: 0 0 2rem 0;
}

.titels {
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0 0 2rem 0;
}



/* styling nav bar */
nav {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    z-index: 1000;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.try-it a {
    text-decoration: none;
    color: #FFA8E0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 400;
    border: 2px solid #FFA8E0;
    padding: 10px 45px;
    border-radius: 50px;
    transition: box-shadow .3s ease-in-out;
}

.try-it a:hover {
    box-shadow: #CCCCCC 0px 5px 10px;
}

/* styling header */


header .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h3 {
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0 0 2rem 0;
}

header .some-content {
    padding: 0 14rem;
    text-align: center;
}

header a {
    text-decoration: none;
    background-color: #FF52C1;
    color: #ffffff;
    padding: 15px 45px;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 50px;
    transition: box-shadow .3s ease-in-out;
}

header a:hover {
    box-shadow: #CCCCCC 0px 5px 10px;
}

/* styling community section */
.community .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.community-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 5rem;

}

.community-container .community-content h4 {
    color: #7f8d99;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.community-container .community-content h4 span {
    font-size: 5rem;
    display: block;
    color: #000;
    font-weight: bold;
}

/* styling grow together section */
.grow-together {
    position: relative;
    background-color: #F6FBFF;
    margin: 20vh 0;
}

.grow-together::before {
    content: '';
    position: absolute;
    top: -20vh;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 20vh;
    background-image: url('../images/bg-section-top-desktop-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.grow-together::after {
    content: '';
    position: absolute;
    bottom: -20vh;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 20vh;
    background-image: url('../images/bg-section-bottom-desktop-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.grow-together .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow-together-content {
    width: 50%;
}


.grow-together-content .some-content {
    padding: 0 5rem 0 0;
}

.grow-together-image {
    width: 50%;
}

.grow-together-image img {
    width: 100%;
}

/* styling conversation section */
.conversation {
    margin: 40vh 0;
}

.conversation .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conversation .container .conversation-content {
    order: 3;
}

.conversation-content {
    width: 50%;
    padding: 5rem 2rem;
    text-align: center;
}

.conversation-image {
    width: 50%;
}

.conversation-image img {
    width: 100%;
}

/* styling build your community section */

.build-community {
    margin: 40vh 0;
}

.build-community .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.build-community .titels {
    font-size: 3rem;
}

.build-community .btn:hover {
    box-shadow: #7f8d99 0px 4px 4px;
}

.build-community .btn {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #FF52C1;
    padding: 15px 45px;
    border-radius: 50px;
    transition: ease-in-out 250ms;
}

/* styling footer */
footer {
    position: relative;
    background: #00252E;
}

footer::before {
    content: "";
    position: absolute;
    top: -20vh;
    left: 0;
    width: 100%;
    height: 20vh;
    background-image: url('../images/bg-footer-top-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    width: 50%;
    ;
}

.left-section .logo {
    filter: grayscale(100%);
    margin: 2rem 0;
}

.left-section .some-content {
    color: #FFFFFF;
    width: 50%;
    margin: 2rem 0;
}

.contacts ul {
    list-style: none;
}

.contacts ul li {
    margin: 1rem 0;
}

.contacts ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.contacts ul li a i {
    margin: 0px 1rem 0px 0px;
}

.socail i {
    font-size: 2rem;
    padding: 5px 5px;
    color: #F6FBFF;
    margin: 2rem 0;
}

.socail i:hover {
    cursor: pointer;
    color: #0d5492;
}

.right-section {
    width: 50%;
}

.right-section h3 {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 2rem 0;
}

.right-section .some-content {
    color: #FFFFFF;
}

form {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

form input {
    width: 60%;
    border-radius: 15px;
    padding: 15px 10px;
}

input:focus {
    outline: none;
}

form .btn {
    width: 30%;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #FF52C1;
    padding: 15px 45px;
    border-radius: 15px;
    transition: ease-in-out 250ms;
}

/* responsive behaver */

@media(min-width : 768px) {
    body {
        font-size: 10px;
    }

    .container {
        min-width: 90%;
    }

    header {
        margin: 10vh 0 0 0;
        text-align: center;
    }

    header .container h3 {
        max-width: 75vw;
    }

    header .container .some-content {
        padding: 0px 5rem;
    }

    .community .container img {
        width: 90%;
    }

    .community-container {
        flex-direction: column;
    }

    .community-container .community-content {
        margin-bottom: 3rem;
    }

    .community-container .community-content img {
        width: 25%;
    }

    .grow-together .container,
    .conversation .container {
        flex-direction: column;
    }

    .grow-together-content {
        width: 100%;
        text-align: center;
        order: 3;
        margin: 3rem 0px 0px 0px;
    }

    .some-content {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .grow-together-content .some-content {
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }

    .conversation-content {
        width: 100%;
    }

    .build-community .container {
        text-align: center;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .right-section {
        order: -1;
        width: 100%;
    }

    .right-section h3 {
        font-size: 2rem;
    }

    .right-section .some-content {
        padding: 2rem 6rem 2rem 0px;
    }

    form {
        display: inline-block;
    }

    form input {
        margin-bottom: 1rem;
        font-size: 2rem;
        padding: 1rem 1rem;
        width: 100%;
    }

    form .btn {
        display: inline-block;
        font-size: 2rem;
        width: 50%;
        padding: 1rem;
        margin: 2rem 0;
        transform: translateX(100%);
        text-align: center;
    }

    .left-section {
        width: 100%;
    }

    .left-section .some-content {
        width: 80%;
    }

    .contacts ul li a {
        font-size: 1.5rem;
    }
}

@media (max-width : 300px) {
    body {
        font-size: 4px;
    }

    header {
        margin: 5vh 0 0 0;
        text-align: center;
    }

    header .container h3 {
        max-width: 80vw;
    }

    header .container .some-content {
        padding: 0px 2rem;
    }

    .community .container img {
        width: 100%;
    }

    .community-container {
        flex-direction: column;
    }

    .community-container .community-content {
        margin-bottom: 3rem;
    }

    .community-container .community-content img {
        width: 25%;
    }

    .grow-together .container,
    .conversation .container {
        flex-direction: column;
    }

    .grow-together-content {
        width: 100%;
        text-align: center;
        order: 3;
        margin: 3rem 0px 0px 0px;
    }

    .some-content {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .grow-together-content .some-content {
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }

    .conversation-content {
        width: 100%;
    }

    .build-community .container {
        text-align: center;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .right-section{
        order:  -1;
        width: 100%;
    }

    .right-section h3 {
        font-size: 2rem;
    }

    .right-section .some-content {
        padding: 2rem 6rem 2rem 0px;
    }

    form{
        display: inline-block;
    }

    form input{
        margin-bottom: 1rem;
        font-size: 2rem;
        padding: 1rem 1rem;
        width: 100%;
    }

    form .btn {
        display: inline-block;
        font-size: 2rem;
        width: 50%;
        padding: 1rem;
        margin: 2rem 0;
        transform: translateX(100%);
        text-align: center;
    }

    .left-section {
        width: 100%;
    }
    .left-section .some-content {
        width: 80%;
    }
    .contacts ul li a{
        font-size: 1.5rem;
    }
}
@media (max-width : 576px) {
    body {
        font-size: 8px;
    }

    header {
        margin: 5vh 0 0 0;
        text-align: center;
    }

    header .container h3 {
        max-width: 80vw;
    }

    header .container .some-content {
        padding: 0px 2rem;
    }

    .community .container img {
        width: 100%;
    }

    .community-container {
        flex-direction: column;
    }

    .community-container .community-content {
        margin-bottom: 3rem;
    }

    .community-container .community-content img {
        width: 25%;
    }

    .grow-together .container,
    .conversation .container {
        flex-direction: column;
    }

    .grow-together-content {
        width: 100%;
        text-align: center;
        order: 3;
        margin: 3rem 0px 0px 0px;
    }

    .some-content {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .grow-together-content .some-content {
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }

    .conversation-content {
        width: 100%;
    }

    .build-community .container {
        text-align: center;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .right-section{
        order:  -1;
        width: 100%;
    }

    .right-section h3 {
        font-size: 2rem;
    }

    .right-section .some-content {
        padding: 2rem 6rem 2rem 0px;
    }

    form{
        display: inline-block;
    }

    form input{
        margin-bottom: 1rem;
        font-size: 2rem;
        padding: 1rem 1rem;
        width: 100%;
    }

    form .btn {
        display: inline-block;
        font-size: 2rem;
        width: 50%;
        padding: 1rem;
        margin: 2rem 0;
        transform: translateX(100%);
        text-align: center;
    }

    .left-section {
        width: 100%;
    }
    .left-section .some-content {
        width: 80%;
    }
    .contacts ul li a{
        font-size: 1.5rem;
    }
    nav {
        height: auto;
    }
    nav .container .logo{
    width: 50%;
    }
    .container .logo img {
        width: 100%;
    }
    .try-it {
        width: 50%;
    }

    .try-it a {
        padding:  5px;
        margin-left: 15px;
    }
}
